@font-face {
  font-family: "Raleway";
  font-style: bold;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: white;
}

.page-header {
  margin: auto;
  width: 1160px;
  background-color: #FFE17F;
  margin-top: 40px;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
  height: 0;
}

ul {
  list-style-type: none;
}

.undecorated-link  {
  text-decoration: none;
  color: #000000;
}

.main-container {
  margin: auto;
  width: 1160px;
}

.main-logo {
  margin-bottom: 30px;
  z-index: 1;
  position: relative;
  top: -20px;
}

.navigation {
  width: 1040px;
  margin: auto;
}

.navigation-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
}

.compare {
  margin-left: 187px;
}

.navigation-secondary {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  align-items: center;
}

.navigation-link {
  margin-left: 61px;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.navigation-link-secondary {
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.slider {
  display: flex;
  width: 1160px;
}

.slider-image {
  display: block;
  position: relative;
}

.slider-button {
  position: absolute;
  width: 20px;
  height: 60px;
  background-image: url(/images/arrow_left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color:  #FFFFFF;
  border: none;
}

.slider-next {
  transform: rotate(180deg);
}

.left {
  width: 560px;
}

.right {
  width: 560px;
}

.slider-number {
  color:  #FFFFFF;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
}

.description-slider{
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-top: 26px;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.slider-pagination-button {
  background-color:  #FFFFFF;
  border-radius: 50%;
  border: 2px solid #000000;
  width: 12px;
  height: 16px;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 0;
}

.title.first {
  margin-bottom: 30px;
}

.main-text {
  color:#444444;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

.main-text.first {
  margin-bottom: 50px;
}

.button-yellow {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.products-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin-bottom: 70px;
  margin-top: 70px;
  padding: 0;
}

.metres {
  color: #000000;
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 12px;
}

.description-text {
  color: #444444;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

.yellow-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
}

.product {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.selfie {
  padding-top: 43px;
  padding-left: 6px;
}

.delivery {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 319px;
}

.title.second{
  margin-bottom: 34px;
}

.delivery-navigation {
  width: 287px;
  margin-right: 116px;
  display: flex;
  flex-direction: column;
}

.delivery-info-text {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #F0F0F0;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  width: 1160px;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 0;
}

.columns {
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
}

.about {
  width: 520px;
}

.third, .fourth {
  margin-bottom: 48px;
  margin-top: 47px;
}

.contacts {
  width: 532px;
}

.list-about {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-about-text {
  list-style-type: circle;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.title-second {
  color: #444444;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.sign-up {
  background-color: #F0F0F0;
  width: 100%;
  min-height: 421px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 64px;
}

.fifth {
  margin-right: 252px;
}

.page-footer {
  background-color: #444444;
  width: 100%;
  padding-top: 62px;
  margin: auto;
}

.footer-container {
  width: 1160px;
  margin: auto;
}

.address {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.footer-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-navigation-item {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.yellow-logo {
margin-bottom: 35px;
}

.navigation-number {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
